parameters:
	ignoreErrors:
		-
			message: "#^Method TYPO3\\\\CMS\\\\Extbase\\\\Persistence\\\\QueryInterface\\:\\:logicalAnd\\(\\) invoked with 2 parameters, 1 required\\.$#"
			count: 1
			path: ../Classes/Domain/Repository/MappingRepository.php

		-
			message: "#^Constant LF not found\\.$#"
			count: 3
			path: ../Classes/Form/Element/AbstractFormSelectElement.php

		-
			message: "#^Instead of abstract class, use specific service with composition$#"
			count: 1
			path: ../Classes/Form/Element/AbstractFormSelectElement.php

		-
			message: "#^Use custom exceptions instead of native \\\"InvalidArgumentException\\\"$#"
			count: 1
			path: ../Classes/System/Typo3/Configuration.php

		-
			message: "#^Call to an undefined method PHPUnit\\\\Framework\\\\MockObject\\\\MockObject::run\\(\\)\\.$#"
			count: 1
			path: ../Tests/Unit/Command/AbstractCommandTest.php

		-
			message: "#^Unable to resolve the template type RealInstanceType in call to method (.*)$#"
			count: 1
			path: ../Tests/Unit/Command/AbstractCommandTest.php

		-
			message: "#^Cannot call method willReturn\\(\\) on (.*)$#"
			paths:
				- ../Tests/

		-
			message: "#^Call to an undefined method Prophecy\\\\Prophecy\\\\ObjectProphecy::sL\\(\\)\\.$#"
			paths:
				- ../Tests/

		-
			message: "#^Call to an undefined method TYPO3\\\\CMS\\\\Backend\\\\Form\\\\NodeInterface::willReturn\\(\\)\\.$#"
			paths:
				- ../Tests/

		-
			message: "#^Parameter (.)3 (.)configuration of class Aoe\\\\FeatureFlag\\\\Service\\\\FeatureFlagService constructor expects (.*)$#"
			paths:
				- ../Tests/Unit/Service/FeatureFlagServiceTest.php