<phpunit>
    <testsuites>
        <testsuite name="feature_flag">
            <directory suffix="Test.php">./</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">../Classes</directory>
        </whitelist>
    </filter>
</phpunit>