parameters:
	ignoreErrors:
		-
			message: "#^Method TYPO3\\\\CMS\\\\Extbase\\\\Persistence\\\\QueryInterface\\:\\:logicalAnd\\(\\) invoked with 2 parameters, 1 required\\.$#"
			count: 1
			path: ../Classes/Domain/Repository/MappingRepository.php

		-
			message: "#^Constant LF not found\\.$#"
			count: 3
			path: ../Classes/Form/Element/AbstractFormSelectElement.php

